<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="rules">
<entry key="array-size" type="xint" value="7"/>
<entry key="0" type="xstring" value="// enter ordered set of rules, e.g.:"/>
<entry key="1" type="xstring" value="// $double column name$ &gt; 5.0 =&gt; &quot;large&quot;"/>
<entry key="2" type="xstring" value="// $string column name$ LIKE &quot;*blue*&quot; =&gt; &quot;small and blue&quot;"/>
<entry key="3" type="xstring" value="// TRUE =&gt; &quot;default outcome&quot;"/>
<entry key="4" type="xstring" value="$NE$ = &quot;PERSON&quot; =&gt; &quot;PLANT&quot;"/>
<entry key="5" type="xstring" value="$PHARMA (#1)$ = &quot;DISEASE&quot; =&gt; &quot;ACTIVITY&quot;"/>
<entry key="6" type="xstring" value="NOT MISSING $OSCAR$  =&gt; &quot;COMPOUND&quot;"/>
</config>
<entry key="new-column-name" type="xstring" value="role"/>
<entry key="replace-column-name" type="xstring" value="OSCAR (#1)"/>
<entry key="append-column" type="xboolean" value="true"/>
<entry key="disallowLongOutputForCompatibility" type="xboolean" value="false"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="create role col %%00013%%00010(plant/act/compound)"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="2302"/>
<entry key="y-coordinate" type="xint" value="459"/>
<entry key="width" type="xint" value="116"/>
<entry key="height" type="xint" value="30"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.rules.engine.RuleEngineNodeFactory"/>
<entry key="node-name" type="xstring" value="Rule Engine"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Java Snippet Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.jsnippets"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.0.0.v201908201447"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.0.2.v201909300912"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Rule Engine"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 2833477, Cols: 18"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="fb03d765-7472-4d1e-8b33-f04bc3dff36e"/>
</config>
</config>
