<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="layout_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="layout" type="xstring" value="Kamada-Kawai"/>
<config key="layoutingTimeInSeconds_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="layoutingTimeInSeconds" type="xint" value="0"/>
<config key="backgroundColor_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_color"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="backgroundColor">
<entry key="Red" type="xint" value="255"/>
<entry key="Green" type="xint" value="255"/>
<entry key="Blue" type="xint" value="255"/>
<entry key="Alpha" type="xint" value="255"/>
</config>
<config key="selectionLabelColor_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_color"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="selectionLabelColor">
<entry key="Red" type="xint" value="0"/>
<entry key="Green" type="xint" value="0"/>
<entry key="Blue" type="xint" value="255"/>
<entry key="Alpha" type="xint" value="255"/>
</config>
<config key="backgroundImage_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="backgroundImage" type="xstring" value="&lt;NONE&gt;"/>
<config key="backgroundImageRenderer_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="backgroundImageRenderer" type="xstring" value="&lt;NONE&gt;"/>
<config key="dimensionWidth_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="dimensionWidth" type="xint" value="750"/>
<config key="dimensionHeight_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="dimensionHeight" type="xint" value="750"/>
<config key="showInteractiveFeatuerTable_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="showInteractiveFeatuerTable" type="xboolean" value="false"/>
<config key="imageType_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="imageType" type="xstring" value="PNG - Portable Network Graphics"/>
<config key="nodeLabel_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeLabel" type="xstring" value="&lt;ID&gt;"/>
<config key="nodeLabelPosition_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeLabelPosition" type="xstring" value="Auto"/>
<config key="nodeLabelFont_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_font"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="nodeLabelFont">
<entry key="fontFamily" type="xstring" value="Dialog"/>
<entry key="fontType" type="xint" value="0"/>
<entry key="fontSize" type="xint" value="10"/>
<entry key="fontColor" type="xint" value="-16777216"/>
</config>
<config key="nodeLabelSizeFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeLabelSizeFeature" type="xstring" value="&lt;NONE&gt;"/>
<config key="nodeLabelColorFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeLabelColorFeature" type="xstring" value="node_color"/>
<config key="nodeLabelColor_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_color"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="nodeLabelColor">
<entry key="Red" type="xint" value="0"/>
<entry key="Green" type="xint" value="0"/>
<entry key="Blue" type="xint" value="0"/>
<entry key="Alpha" type="xint" value="255"/>
</config>
<config key="paintNodeLabelBG_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="paintNodeLabelBG" type="xboolean" value="false"/>
<config key="nodeLabelBGColorFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="nodeLabelBGColorFeature" type="xstring" value="&lt;NONE&gt;"/>
<config key="nodeLabelBGColor_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_color"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<config key="nodeLabelBGColor">
<entry key="Red" type="xint" value="255"/>
<entry key="Green" type="xint" value="255"/>
<entry key="Blue" type="xint" value="255"/>
<entry key="Alpha" type="xint" value="255"/>
</config>
<config key="nodeShapeFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeShapeFeature" type="xstring" value="&lt;NONE&gt;"/>
<config key="nodeShape_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeShape" type="xstring" value="Circle"/>
<config key="nodeFillColorFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeFillColorFeature" type="xstring" value="node_color"/>
<config key="nodeFillColor_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_color"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="nodeFillColor">
<entry key="Red" type="xint" value="255"/>
<entry key="Green" type="xint" value="255"/>
<entry key="Blue" type="xint" value="0"/>
<entry key="Alpha" type="xint" value="255"/>
</config>
<config key="drawIconBackground_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="drawIconBackground" type="xboolean" value="false"/>
<config key="nodeOutlineColorFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeOutlineColorFeature" type="xstring" value="node_color"/>
<config key="nodeOutlineColor_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_color"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="nodeOutlineColor">
<entry key="Red" type="xint" value="178"/>
<entry key="Green" type="xint" value="178"/>
<entry key="Blue" type="xint" value="0"/>
<entry key="Alpha" type="xint" value="255"/>
</config>
<config key="drawIconOutline_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="drawIconOutline" type="xboolean" value="false"/>
<config key="nodeStrokeWidth_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_double"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeStrokeWidth" type="xdouble" value="2.5"/>
<config key="nodeStrokeWidthFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeStrokeWidthFeature" type="xstring" value="log_cooccurrence"/>
<config key="nodeImageIcon_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeImageIcon" type="xstring" value="&lt;NONE&gt;"/>
<config key="nodeImageIconRenderer_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="nodeImageIconRenderer" type="xstring" value="&lt;NONE&gt;"/>
<config key="useOriginalIconSize_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="useOriginalIconSize" type="xboolean" value="false"/>
<config key="nodeSize_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeSize" type="xint" value="10"/>
<config key="nodeSizeFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeSizeFeature" type="xstring" value="Document cooccurrence (Sum)"/>
<config key="zCoordinateFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="zCoordinateFeature" type="xstring" value="&lt;NONE&gt;"/>
<config key="zCoordinateReverse_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="zCoordinateReverse" type="xboolean" value="false"/>
<config key="edgeLabel_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="edgeLabel" type="xstring" value="&lt;NONE&gt;"/>
<config key="edgeLabelFont_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_font"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="edgeLabelFont">
<entry key="fontFamily" type="xstring" value="Dialog"/>
<entry key="fontType" type="xint" value="0"/>
<entry key="fontSize" type="xint" value="10"/>
<entry key="fontColor" type="xint" value="-16777216"/>
</config>
<config key="edgeLabelSizeFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="edgeLabelSizeFeature" type="xstring" value="&lt;NONE&gt;"/>
<config key="edgeLabelColorFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="edgeLabelColorFeature" type="xstring" value="&lt;NONE&gt;"/>
<config key="edgeLabelColor_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_color"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="edgeLabelColor">
<entry key="Red" type="xint" value="0"/>
<entry key="Green" type="xint" value="0"/>
<entry key="Blue" type="xint" value="0"/>
<entry key="Alpha" type="xint" value="255"/>
</config>
<config key="paintEdgeLabelBG_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="paintEdgeLabelBG" type="xboolean" value="false"/>
<config key="edgeLabelBGColorFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="edgeLabelBGColorFeature" type="xstring" value="&lt;NONE&gt;"/>
<config key="edgeLabelBGColor_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_color"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<config key="edgeLabelBGColor">
<entry key="Red" type="xint" value="255"/>
<entry key="Green" type="xint" value="255"/>
<entry key="Blue" type="xint" value="255"/>
<entry key="Alpha" type="xint" value="255"/>
</config>
<config key="edgeStrokeColorFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="edgeStrokeColorFeature" type="xstring" value="&lt;NONE&gt;"/>
<config key="edgeStrokeColor_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_color"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="edgeStrokeColor">
<entry key="Red" type="xint" value="192"/>
<entry key="Green" type="xint" value="192"/>
<entry key="Blue" type="xint" value="192"/>
<entry key="Alpha" type="xint" value="255"/>
</config>
<config key="edgeStrokeWidth_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_double"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="edgeStrokeWidth" type="xdouble" value="1.0"/>
<config key="edgeStrokeWidthFeature_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="edgeStrokeWidthFeature" type="xstring" value="&lt;NONE&gt;"/>
<config key="edgeShapeTransformer_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="edgeShapeTransformer" type="xstring" value="Spline"/>
<config key="drawDirectedEdgeArrow_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="drawDirectedEdgeArrow" type="xboolean" value="true"/>
<config key="layoutSettings">
<config key="useWeight_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="useWeight" type="xboolean" value="false"/>
<config key="weightIsDistance_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="weightIsDistance" type="xboolean" value="false"/>
<config key="minEdgeLength_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="minEdgeLength" type="xint" value="50"/>
<config key="maxEdgeLength_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="maxEdgeLength" type="xint" value="400"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.network.node.viz.viewer.NetworkViewerNodeFactory"/>
<entry key="node-name" type="xstring" value="Network Viewer (local)"/>
<entry key="node-bundle-name" type="xstring" value="Network Base Plug-in"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.network.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.0.1.v201908131226"/>
<entry key="node-feature-name" type="xstring" value="KNIME Network Mining"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.network.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.0.1.v201908131226"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Network Viewer (local)"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.image.ImagePortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.port.image.ImagePortObject"/>
<entry key="port_object_summary" type="xstring" value="PNG Image 750 x 750 with 37 KB"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="ce8fbdb2-a6b3-4e20-bc59-cfaa9d9c2af1"/>
</config>
</config>
